*{ margin:0; padding:0;}
body{ font-size:13px;font-family:"微软雅黑"; background:#f9f9f9; color:#333;}
.bbbg{ background:url(../images/nbg.jpg) repeat-x #fbf6e3 top;}
a,img,input{ border:none; text-decoration:none; font-size:12px;}
ul,li{ list-style:none;}
.clear{ clear:both; font-size:0px; line-height:0px; height:0px; padding:0; margin:0;}
.left{ float:left;}
.right{ float:right;}
.tmg{ background:url(../images/title_bg.gif) repeat-x 0 top; width:100%;}
a{ cursor:pointer;}
.imgm{ margin:0 auto; display:block;}

/**--top2--**/
.wrap{ min-width:300px; overflow:hidden; margin:0 auto;}
.top_wrap{ width:100%; height:205px; background:url(../images/top_bg.jpg) repeat-x 0 0;}
.top1{ width:1000px; margin:0 auto;line-height:30px; height:31px;}
.dz01{ height:31px;  padding-right:10px;font-size:14px;}
.dz01 a{ color:#d33700; font-size:14px; padding-left:15px;}
.dz01 a img{ margin-right:5px;}

.top2{ width:1000px; height:136px; margin:0 auto; }
.logo{ width:217px; height:134px;}
.top2_zhong{ padding:40px 0 0 60px; }
.sou{ width:516px; height:33px;background:url(../images/tr_nr.jpg) no-repeat 0 0; line-height:33px;}
.sou .names{ width:336px;height:33px;line-height:33px; float:left; padding-left:10px; color:#b5b5b5; background:none; display:block; font-size:12px;font-family:"微软雅黑";}
.sou .nbt{ width:80px; float:left; height:33px; background:url(../images/sb.png) no-repeat 2px 10px;cursor:pointer; color:#d33700;display:block; font-weight:bold;font-size:13px; }
.tr_title{ font-family:"宋体"; padding-top:5px;}
.tr_title a{ color:#333; font-family:"宋体"; }
.tr_title a:hover{color:#d33700;}
.top2_right{ padding-top:38px;}
.top_fabu{ width:150px; padding-top:40px;}
.top_fabu a{ padding-left:40px; width:110px; color:#666; line-height:25px;   }
.top_fabu a.fabu{ border:1px solid #fc958f;color:#e71408; height:31px; line-height:31px; display:block; background:url(../images/fabu.png) no-repeat 20px 8px #fff3f2; font-size:15px;}

.top3{ width:1000px; height:38px; margin:0 auto;color:#fff; position:relative; }
.top3_left{ width:212px; height:38px; display:block; background:url(../images/top3box01.png) no-repeat 183px 15px #d33600; }
.top3_box01{ font-size:16px; height:33px; line-height:33px; padding:5px 0 0 20px;}

.top3_nav{ width:750px; margin-left:30px; }
.top3_nav ul li{ float:left;}
.top3_nav ul li a{ display:block; color:#fff; font-size:16px; height:38px; padding:0px 40px; text-align:center; line-height:38px;border:none;}
.top3_nav ul li a:hover{color:#fff;}
.top3_zhong{ overflow:hidden;}

.door_class{ width:210px;height:570px; border-right:1px solid #e9e9e9; border-left:1px solid #e9e9e9; border-bottom:1px solid #e9e9e9; background:#fff; overflow:hidden; padding-bottom:30px; padding-top:3px;}
.door_class ul li{ float:left; border-bottom:1px solid #ececec; width:100%;}
.door_class ul li a{ font-size:14px; color:#d33700;  height:24px; line-height:24px; padding:5px 2px 4px 24px; display:block; background:url(../images/left_lh.png) no-repeat 185px 12px;}
.door_class ul li a.dqclass,.door_class ul li a:hover{color:#d33700;}
/**--content--**/
.intent2{ overflow:hidden;}
.content{width:1000px; margin:0 auto; overflow:hidden;}
.left_bar{ width:212px;}
.cont_right{ width:770px; float:right; }
.bd1{border:1px solid #ebebeb;}
.pad1{ padding:0 15px;}
.padd_backg{ background:#fff;}
.tent1{width:1000px;z-index:2; overflow:hidden; margin-bottom:25px;}
.tent1_left{ width:202px; height:423px; border:2px solid #0f96de; border-top:none;}
.tent1_box1{ width:775px; height:356px; overflow:hidden; margin-top:10px;border-radius:10px;}
.tent1_right{ padding:10px 0 0 10px; width:290px; overflow:hidden;}
.in2_tent1_zhong{ width:775px; overflow:hidden;  z-index:5 }
.in2_tent1_right{ width:205px; padding-top:8px;}
.in2_tent1_right a{ display:block;}
.intent2 h2{ color:#333; font-weight:normal; font-size:18px; height:35px; line-height:35px;}
.caigou_left{ width:745px;}
.caigou_right{ width:212px; margin-top:15px;}
.pdides01{ padding-bottom:50px;}
.hot_tj{ border:1px solid #ebebeb; padding:10px; background:#fff; }
.hot_tj .tjtitle{ height:30px; border-bottom:1px solid #ebebeb; line-height:30px; font-size:16px; font-weight:normal;}
.hot_tj .tjtitle dl dt{ float:left; border-bottom:1px solid #fa5e00;} 
.hot_tj .tjtitle dl dd{ float:right; color:#ee5500;}
/*.hot_tj .tjtitle dl dd img{ margin-right:5px;}
.hot_tj .tjtitle dd a{ color:#000; font-size:16px;}*/
.hot_tj .tjcp{ position:relative; padding-left:90px; height:122px; overflow:hidden; margin-top:10px;}
.hot_tj .tjcp a.tjpic{ width:80px; height:62px; position:absolute; left:0px; top:0px;}
.hot_tj .tjcp p{ line-height:20px;}
.hot_tj .tjcp a{ font-size:14px; color:#000;}
.hot_tj .tjcp a:hover{ text-decoration:underline;}
.hot_tj .tjcp p span{ color:#ec0303; font-size:15px;}
.hot_tj .tjcp strong{ font-weight:normal; color:#999;}

.hot_tj .nopic{ position:relative;overflow:hidden;padding-top:10px;}
.hot_tj .nopic a{ color:#666;}
.hot_tj .nopic p{ color:#b5b5b5}

.quick{ font-size:14px;  height:38px; line-height:38px; color:#666666; font-family:"宋体";}
.quick span{ color:#d33700;}
.quick a{ color:#666666; font-size:14px;}
.quick a img{ margin-right:8px; font-size:14px;color:#333;}
.in_tentA{ border:1px solid #ebebeb; padding:15px; overflow:hidden;background:#fff}
.in_tentAleft{ width:260px; height:205px;}
.in_tentAright{ width:455px; margin-left:20px;}
.in_tentAright .desiger{ float:right; margin-left:10px;}
.in_tentAright h2{ font-size:16px;color:#004a8d;height:35px; line-height:35px; padding:10px 0px; }
.in_tentAright .tjname{float:left;}
.in_tentAright .tjtal{ float:right;color:#f0723f;}
.in_tentAright .ggdes{ border-top:1px dotted #dadada;border-bottom:1px dotted #dadada; padding:10px 0px; margin-bottom:10px;font-size:14px;}
.in_tentAright .ggdes p{ line-height:26px; }
.in_tentAright .ggdes span{ padding-right:25px;}
.in_tentAright .ggdes span b{ color:#d33700; font-weight:normal; font-size:16px;}
.in_tentAright .dpin{ height:35px; line-height:35px;}
.in_tentAright .dpin a{font-size:14px; line-height:35px;}
.in_tentAright .dpin .dpbt{ width:68px; padding-left:45px; height:35px; background:url(../images/dp.png) no-repeat; line-height:35px; color:#fff; }
.in_tentAright .dpin .dshare{ color:#2255dd;font-size:14px; margin-left:10px;}
.in_tentAright .dpin .dshare img{ vertical-align:middle; margin-right:10px;}
.setadd{ width:85px; height:35px; line-height:35px; text-align:center; font-size:14px; color:#fff; background:url(../images/add.png) no-repeat; display:inline-block; margin-left:5px;}
.look_more{ color:#d33600; font-size:16px; display:block; float:right; }
.look_more:hover{ text-decoration:underline;}
.Join{ width:155px; height:35px; display:block; line-height:35px; color:#fff; margin-bottom:10px; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; text-align:center; font-size:16px; background:#ff7200;}
.m_line{ border-bottom:1px solid #e5e5e5; min-height:30px; margin-bottom:20px; padding-bottom:5px;}
.m_line h3{ font-size:20px; font-weight:normal;}
.m_line .come{ color:#666666; line-height:28px;}
.m_line .come span{ padding-right:20px;}
.m_line .come span em{ font-style:normal; color:#5faadd;}
.us_questin{}
.us_questin h6{color:#004a8d; font-size:15px;}
.us_questin p{ text-indent:25px; padding:6px 0px;}
.us_questin p span{  display:block; text-indent:0px;}
.us_questin .xx{ overflow:hidden; margin-top:10px;}
.us_questin .xx p{ text-indent:0px; }
.us_questin .xx .half{ width:50%; float:left;}
.us_questin .xx p { padding:3px 0px;}
.us_questin .xx p strong{color:#004a8d;}
.us_questin .bot_des{ float:right; margin-top:50px; margin-bottom:20px;}
.us_questin .bot_des a{ color:#999999; padding-right:15px; }
.us_questin .bot_des a img{ vertical-align:middle;}
.us_questin .bot_des a:hover{ color:#ff7200;}
.more_new{ margin-bottom:10px; clear:both;}
.more_new dl dt{ height:35px; background:#f7f7f7; padding:0 10px; display:block;}
.more_new dl dt a{ color:#0b73bb; display:block; line-height:35px; }
.more_new dl dt span{ color:#999;}
.more_new dl dd{ float:left; color:#d33700; font-size:15px; padding-left:15px; padding-top:20px; padding-bottom:20px  }
.more_new dl dd a{ padding-right:15px;color:#004a8d;background:url(../images/icons_01.png) no-repeat 0px 2px; padding-left:20px; }
.more_new dl dd a:hover{color:#004a8d;background:url(../images/icons_02.png) no-repeat 0px 2px; }
.comment{}
.comment .l_t{ height:15px;}
.comment .l_m{ /*background:url(../images/l_m.jpg) repeat-y;*/ padding:10px 15px;}
.comment .l_my{ background:url(../images/l_m.jpg) repeat-y; padding:10px 15px;}
.comment .l_b{ height:11px;}
.comment .l_my textarea{ width:100%; min-height:80px; background:none; border:none; color:#666; line-height:20px; font-size:12px; font-family:"微软雅黑";}
.comment .com_tj{width:74px; margin-top:15px;height:30px; background:#ff8a00;font-family:"微软雅黑"; text-align:center; font-size:14px; cursor:pointer; color:#fff;border-radius:5px;/*Opera 10.5+,浠ュ強浣跨敤浜咺E-CSS3鐨処E娴忚鍣�/-moz-border-radius:5px;/*Firefox*/-webkit-border-radius:5px;/*Safari鍜孋hrome*//*behavior:url(ie-css3.htc)*//* 閫氱煡IE娴忚鍣ㄨ皟鐢ㄨ剼鏈綔鐢ㄤ簬'box'绫�*/}

.liucheng{ height:44px; line-height:44px; text-align:center;}
.liucheng .lc01{ width:325px; background:#e6edfb; color:#174fc1; font-size:16px; line-height:44px; margin-right:11px; float:left; }
.liucheng .lc01 span{ color:#666666;}
.liucheng .lc02{ width:325px; background:#527acc; color:#fff; font-size:16px; line-height:44px; margin-right:11px;float:left;}
.liucheng .lc03{ width:325px; background:#e4e4e4; color:#666; font-size:16px; line-height:44px;float:left;}

.zixun2{ padding:5px 15px 45px 15px ;}
.zixun{background:#fff;overflow:hidden; padding-top:5px; padding-bottom:15px ;}
.zixun .mailc{height:48px;line-height:48px; font-size:16px; color:#000; background:#f6f7f9; margin-bottom:10px; font-weight:normal; font-size:15px; padding-left:20px; margin-top:15px}
.zixun .mailc a{ width:100px; height:25px; text-align:center; color:#fff; background:#f7941d; float:left; margin-top:10px; display:block; line-height:25px; font-size:13px; margin-left:10px; }
.guli{ height:40px; border-bottom:1px solid #ebebeb; line-height:40px; font-weight:normal; font-size:16px;}
.guli dl dt{ float:left; border-bottom:1px solid #fa5e00;} 
.guli dl dd{ float:right; padding-right:10px; color:#ee5500;}
.guli dl dd span{color:#ee5500;}
.guli dl dd img{ margin-right:5px;}
.guli dl dd a{ color:#000; font-size:16px;}
.zixun ul li{background:url(../images/jj.png) no-repeat 10px 15px #fafafa; margin:5px 0px; padding-right:20px;}
.zixun ul li a{ color:#949494;font-family:"宋体"; padding-left:20px;}
.zixun ul li a:hover{ color:#d33700;}
.zixun ul li.nbg{background:url(../images/jj.png) no-repeat 10px 15px #fff;}

.xuanzhuan{ width:770px; overflow:hidden;}
.xuanzhuan ul li{ width:355px; float:left; line-height:20px; padding:10px 0px; background:none; border-bottom:1px dashed #a3a3a3; margin-right:25px; overflow:hidden;} 
.xuanzhuan ul li a{ padding:0;}
.xuanzhuan .xzlog{ width:155px;border-right:1px solid #dddddd; overflow:hidden;}
.xuanzhuan .xzname{ float:left; padding-left:15px; } 
.xuanzhuan .xzname a{ color:#004a8d; font-size:16px;  font-family:"微软雅黑";}
.xuanzhuan .xzname a:hover{ text-decoration:underline;color:#004a8d;}
.xuanzhuan .xzname p{ padding-top:8px;}
.xuanzhuan .xzname p span{ color:#ff901a; font-size:16px;}
.message{font-size:12px;width:970px;}
/*.message li{height:22px;line-height:22px;color:#717171;}*/
.good_cp{background:#fff;border:1px solid #ebebeb; overflow:hidden; padding:5px 15px 45px 15px ;}
.good_cp .mailc{height:58px;line-height:58px; font-size:16px; color:#d33700; background:#f6f7f9; font-weight:normal; font-size:15px; padding-left:20px; margin-top:15px}
.good_cp .mailc a{ width:100px; height:25px; text-align:center; color:#fff; background:#f7941d; float:left; margin-top:18px; display:block; line-height:25px; font-size:13px; margin-left:10px; }
.good_cp .guli{ height:40px; border-bottom:1px solid #ebebeb; line-height:40px; font-size:16px;}
.good_cp .guli dl dt{ float:left; border-bottom:1px solid #fa5e00;} 
.good_cp .guli dl dd{ float:right; padding-right:30px; color:#ee5500;}
.good_cp .guli dl dd img{ margin-right:5px;}
.good_cp .guli dl dd a{ color:#000; font-size:16px;}

.Pagenum{ height:50px;}
.Pagenum a{ border:1px solid #dddddd; background:#fff; height:40px;line-height:40px; padding:3px 8px; color:#333333; }
.Pagenum a:hover,.Pagenum a.dqy{ background:#eaeaea;}


.denlu{background:#fff;border:1px solid #ebebeb; overflow:hidden; padding-bottom:100px;}
.denlu h3{ height:42px; line-height:42px;border-bottom:1px solid #ebebeb; color:#333;}
.denlu h3 span{ padding:0 30px; border-right:1px solid #ebebeb; font-size:18px; font-weight:normal; height:42px; display:inline-block;}
.denlu h4{ height:42px; line-height:42px;border-bottom:1px solid #ebebeb;border-top:1px solid #ebebeb; color:#333; font-size:18px; font-weight:normal;padding:0 30px; }
.denlu h5{ height:42px; line-height:42px;border-bottom:1px solid #ebebeb; color:#267be5; font-size:18px; font-weight:normal;padding:0 30px;}
.denlu .u_writer{ padding:15px;overflow:hidden; font-family:"微软雅黑";}
.denlu .u_writer dl{ width:100%; overflow:hidden;}
.denlu .u_writer dl dt{ width:460px; float:left; padding-left:50px; border-right:1px solid #dfe1e3;}
.denlu .u_writer dl dd{ float:left; padding-left:120px; padding-top:80px; }
.denlu .u_w1{ width:265px; height:30px; line-height:30px; border:1px solid #cccccc; padding-left:5px; padding-right:35px; background:url(../images/un.jpg) no-repeat right center; margin:5px 0px 10px 0px; }
.denlu .u_w2{ width:265px; height:30px; line-height:30px;border:1px solid #cccccc; padding-left:5px; padding-right:35px; background:url(../images/uk.jpg) no-repeat right center; margin:5px 0px 10px 0px;}
 p{ line-height:20px;}
.denlu .u_writer p a{ color:#333;}
.denlu .u_wrsub{ width:307px; height:34px; background:url(../images/dl.png) no-repeat; line-height:34px; color:#fff; font-size:18px; font-family:"微软雅黑"; margin-top:10px; cursor:pointer;}
.denlu .u_wrzhu{ width:93px; height:33px; background:url(../images/zhuc.png) no-repeat; display:inline-block; font-size:20px; color:#fff; font-family:"微软雅黑"; cursor:pointer;}
.denlu .u_writer dl dd{ font-size:16px;}
.denlu .u_writer h3{border-top:1px solid #dfe1e3;border-bottom:1px solid #dfe1e3; text-align:center; font-size:16px; color:#d7060a; font-weight:normal;}

.process {margin: 20px 0;font-size: 14px;overflow: hidden;zoom: 1}
.process li {float: left;background: url(../images/process.png) 0 -195px repeat-x;height: 34px;line-height: 34px;width: 319px;text-align: center;color:#fff; font-size:14px; font-weight:bold;}
.process .xh {font-size: 18px;margin-right: 5px;font-family: \5b8b\4f53;vertical-align: -1px}

/*.process .active {font-weight: bold;color: #fbfbd1;background: url(../images/process.png) repeat-x}
.process .active .l-bg {background: url(../images/process.png) 0 -78px}
.process .active .r-bg {background: url(../images/process.png) 0 -39px}
.process .onestep .l-bg, .process .threestep .r-bg {background: 0}*/

.process .onestep .ltone-bg {background: url(../images/process.png) 0 -39px; float:left; width:10px; height:34px;}
.process .onestep .r-bg {float: right;background: url(../images/process.png) 0 -39px;width: 10px;height: 34px}
.process .onestep{background: url(../images/process.png) 0 0px  repeat-x}
/*.process .twostep {width: 314px}*/
.process .twostep .ltwo-bg {background: url(../images/process.png) 0 -156px; float:left; width:10px; height:34px;}
.process .twostep .r-bg {float: right;background: url(../images/process.png) 0 -117px;width: 10px;height: 34px}
.process .twostep{background: url(../images/process.png) 0 -195px  repeat-x}
.process .threestep .lt-bg {background: url(../images/process.png) 0 -272px; float:left; width:10px; height:34px;}
.process .threestep{background: url(../images/process.png) 0 -310px  repeat-x}
.process .redword{ color:#fd4e10;}


.title {padding: 0 15px;line-height: 25px;font-weight: bold;background: #f5f6f4}
.category {padding: 10px 0;overflow: hidden;zoom: 1}
.category li {float: left;padding-left:10px;line-height: 30px;height: 30px; clear:both;}
.category li a {color: #4b4b4b;font-size: 14px}
.category li a:hover,.category li a.dqn {color: #ec3701}

/*点评弹出窗*/
.mask{margin:0;padding:0;border:none;width:100%;height:100%;background:#333;opacity:0.6;filter:alpha(opacity=60);z-index:9999;position:fixed;top:0;left:0;display:none;}
#LoginBox{position:fixed;left:40%;top:28%;background:white;width:540px;height:450px;border:3px solid #444;border-radius:7px;z-index:100000000000;display:none;}
.close_btn{font-family:arial;font-size:18px;color:#999;text-decoration:none;float:right;padding-right:4px;}
.row1{padding:0px 20px;line-height:45px;height:45px;font-weight:bold;color:#666;font-size:18px; }
.row{padding:0px 20px 0px 20px; font-size:15px; color:#000;}
.row .s_in03{ background:url(../images/tijiao.jpg) no-repeat; width:156px; margin-top:10px; height:49px; text-align:center; font-size:20px; color:#fff; font-weight:bold; cursor:pointer;}
.row td{ padding:8px 0px;}
.row td span{ color:#f00;}
.row_bt1{ width:340px; border:1px solid #d3d2d2; height:30px; line-height:30px; padding-left:5px; color:#666;}
.row_bt2{ width:140px; border:1px solid #d3d2d2; height:30px; line-height:30px; padding-left:5px; color:#666;}

.inputBox{ border:none; width:60px; height:30px;}
.inputbut{ width:60px; height:30px; line-height:30px; color:#fff; background:#d33700; font-size:14px; cursor:pointer; display:block; margin:30px auto 0px auto;}
#txtName{height:27px;width:230px;border:none;}
#txtPwd{height:27px;width:230px;border:none;}
#loginbtn{color:White;background:#4490f7;text-decoration:none;padding:10px 95px;margin-left:87px;margin-top:40px;border-radius:5px;opacity:0.8;filter:alpha(opacity=80);}
#example{}
.warning{float:right;color:Red;text-decoration:none;font-size:20px;font-weight:bold;margin-right:20px;display:none;}


/*2014/01/05*/
.cirle{ padding-top:100px;}
.cirle a{ width:162px; height:102px; padding-top:60px; display:block; float:left; text-align:center; font-size:24px; color:#fff; border:none; margin-left:130px; font-weight:bold;}
.cirle .c11{ background:url(../images/cirle1.png) no-repeat;}
.cirle .c2{ background:url(../images/cirle2.png) no-repeat;}
.cirle .c3{ background:url(../images/cirle3.png) no-repeat;}
.cirle a:hover{ color:#d33700}

.foot1_wrap{ width:100%; padding:5px 0px; border-top:3px solid #e0e3e5; background:#fff;}
.foot1{width:1000px; margin:0 auto; overflow:hidden; padding-top:5px;}
.foot1 p{ text-align:center; color:#666; line-height:22px;}
.foot1_nav{ overflow:hidden;}
.foot1_nav dl dt{ font-size:14px;padding:6px 0;}
.foot1_nav dl dd{  line-height:18px; padding:4px 0px;}
.foot1_nav dl dd a{ color:#545454; font-size:12px; padding-left:5px;}
.foot1_nav dl dd a:hover{ text-decoration:underline;}
.foot1_nav dl{ float:left; display:block;}
.foot1_nav .fn01{ width:185px;height:170px; padding-right:40px; text-align:right;  }
.foot1_nav .fn02{ width:120px;height:170px; padding-left:45px; border-right:1px dashed #dfdfdf; padding-top:15px; }
.foot1_nav .fn03{ width:115px;height:170px; padding-left:65px; border-right:1px dashed #dfdfdf;padding-top:15px;  }
.foot1_nav .fn04{ width:125px;height:170px; padding-left:65px; border-right:1px dashed #dfdfdf;padding-top:15px;  }
.foot1_nav .fn05{ width:125px;height:170px; padding-left:65px;padding-top:15px;  }

.foot2_wrap{ width:100%; padding:10px 0px; height:60px; border-top:1px solid #e4e1e1; background:#fff;}




.lc_foot1{ width:100px;background:url(../images/lc_foot01.png) no-repeat left top;}
.foot1_nav02{ padding-left:28px;}
.lc_foot2{ width:100px;}
.lc_foot3{ width:100px;}

.fudong{ width:108px;}
.fudongmm dl dd{ width:108px; height:33px;}
.fudongmm dl dd a{ display:block; width:108px; height:33px; font-size:14px; font-weight:bold; line-height:33px; text-align:center; background:url(../images/fudongmm06.png) no-repeat;}
.fudongmm dl dd a:hover{ background:url(../images/fudongmm07.png) no-repeat; color:#fff;}
.fudongmm dl dd.fudongmm01 a{ background-position:0 0;}
.fudongmm dl dd.fudongmm01 a:hover{ background-position:0 0;}
.fudongmm dl dd.fudongmm02 a{ background-position:0 -33px;}
.fudongmm dl dd.fudongmm02 a:hover{ background-position:0 -33px;}
.color01{ color:#0054a7;}
.color02{ color:#bd00a9;}
.color03{ color:#ff6bb1;}
.color04{ color:#f39800;}
.color05{ color:#00b7ee;}
.color06{ color:#ff6666;}
.color07{ color:#13b5b1;}
.color08{ color:#8fc31f;}
.color09{ color:#22ac38;}
.color10{ color:#a84200;}
.fudongmm2{ width:108px;height:38px;}
.fudongmm2 a{ display:block; width:108px;height:38px; background:url(../images/fudong002.gif) no-repeat 0 0;}
.fudongmm2 a:hover{background:url(../images/fudong002.gif) no-repeat 0 0;}
.fudongmm3{ width:108px;height:104px; text-align:center; background:#e3e7e6; padding:0 0 5px;}
