


/*鎼滅储*/
.searchBtnB button,.searchTxtB .searchMenuB .searchSelectedB{ }
.searchTxtHoverB{float:left;width:90px;height:33px;position:relative;background:url(../images/x.png) no-repeat 72px 15px;}
.searchTxtB{float:left;width:90px;height:33px;border:0;position:relative;background:none;background:url(../images/shu.png) no-repeat right center;}
.searchTxtB .searchMenuB{float:left; }
.searchTxtB .searchMenuB .searchSelectedB{color:#666666;cursor:pointer;font-size:13px;height:33px;line-height:33px;padding:0 10px;width:80px;background:url(../images/x.png) no-repeat 72px 15px;}
.searchTxtB .searchMenuB .searchOpenB{background:url(../images/x.png) no-repeat 72px 15px;}
.searchTxtB .searchMenuB .searchTabB{display:none;top:34px;left:-2px;width:87px;border-top:0;background:#fff;height:80px; border-left:1px solid #e3e3e3;border-right:1px solid #e3e3e3;border-bottom:1px solid #e3e3e3;}
.searchTxtB .searchMenuB .searchTabB li{width:89px;height:24px;line-height:24px;color:#333;font-size:13px;text-indent:10px;cursor:pointer;}
.searchTxtB .searchMenuB .searchTabB li.selectedB{background:#edf3fc;color:#d33700;}
.searchTxtB input{float:left;border:0;background:#fff;color:#333;font-family: "寰蒋闆呴粦";width:221px;height:22px;margin:0;outline:medium none;padding:4px;}


/* changeBox_b1 */
.tb{ width:998px; height:auto; float:left; border-right:1px solid #d2d2d2;border-bottom:1px solid #d2d2d2;border-left:1px solid #d2d2d2; border-top:2px solid #d85223; overflow:hidden; }
.changeBox_b1{float:left;position:relative;width:998px;height:353px; overflow:hidden;}
.changeBox_b1 h3{float:left;position:relative;padding:0 19px;height:35px;line-height:35px;text-align:center; background:#ebebeb;z-index:0; width:auto; font-weight:normal; color:#fff;border-right:1px solid #d2d2d2; border-bottom:1px solid #d2d2d2}
.changeBox_b1 h3.now{background:#fefefe;color:#fff;z-index:3;border-bottom:1px solid #fff;}
.changeBox_b1 h3 a{color:#333; font-size:12px;font-family: "瀹嬩綋";}
.changeBox_b1 h3 a:hover,.changeBox_b1 h3.now a{color:#d33700; }
.changeBox_b1 div{position:absolute;top:36px;left:0px;_left:0px;width:998px;height:320px;background:#fff;padding:10px 0px;z-index:2;}
.changeBox_b1 div a{ width:79px; height:17px; line-height:17px; background:url(../images/linl.jpg) no-repeat center; float:right; display:block; font-size:11px; text-align:center; margin:2px 0px 3px 0px}
.changeBox_b1 div img{ float:left;}
.changeBox_b1 h3.lat{  padding:0px 25px 0px 25px;border-right:none;}

/**--涓汉涓績--**/
/**--d瀵艰埅鍒嗙被--**/
/* navsort */
/*.navsort,.carbox,.allsort,.allsort .mt .extra,.allsort h3,.allsort s,.allsort .close{background:url(../images/nav-sort.gif) no-repeat;}
.navsort{width:960px;height:50px;background-position:0 1px;background-repeat:repeat-x;margin:40px auto 0 auto;}
.carbox{width:226px;height:50px;float:right;background-position:0 -152px;}
.searcbox{width:334px;height:31px;overflow:hidden;float:left;margin:10px 0 0 15px;display:inline;background:url(../images/searchbox.gif) no-repeat;}
/*allsort鐩掑瓙瀹藉害鏄�17px, 楂樺害鏄�0px.*/

.allsort{width:212px;height:38px;background:none;position:relative; z-index:9999;}
.allsort .mt{height:38px; line-height:38px;width:212px;cursor:pointer;overflow:hidden;}
.allsort .mt strong{float:left;font-size:16px;color:#fff;}
.allsort .mt strong a{font-size:16px;color:#fff; padding-left:21px;}
.allsort .mt .extra{float:right;overflow:hidden;width:22px;height:22px;background:none;}
/* 鍒嗙被涓�*/
.allsort .mc{display:none;width:210px;position:absolute;top:38px;overflow:visible;padding:0 0 0;background:#fff;border:1px solid #e9e9e9; border-top:none;}
.allsort .item{width:210px;/*height:37px;*/}
.allsort .fore{/*border-top:none;*/}
.allsort span{display:block;width:210px;position:relative;z-index:1;}
.allsort h3{width:210px;background:#fff url(../images/left_lh.png) no-repeat 185px 12px; padding:4px 0px 5px 0px; height:24px; border-bottom: 1px solid #ececec;}
.allsort h3 a{ color:#d33700;  font-weight:normal;font-size:14px; line-height:24px; display:block;width:190px;padding:0 0 0 20px;}



/*.allsort h3 a.mmvb01{ background-position:18px 10px;}
.allsort h3 a.mmvb02{ background-position:18px -27px;}
.allsort h3 a.mmvb03{ background-position:18px -62px;}
.allsort h3 a.mmvb04{ background-position:18px -100px;}
.allsort h3 a.mmvb05{ background-position:18px -135px;}
.allsort h3 a.mmvb06{ background-position:18px -172px;}
.allsort h3 a.mmvb07{ background-position:18px -208px;}
.allsort h3 a.mmvb08{ background-position:18px -245px;}
.allsort h3 a.mmvb09{ background-position:18px -281px;}
.allsort h3 a.mmvb10{ background-position:18px -318px;}*/
/*.allsort h3 a:link{display:block;height:37px;line-height:37px;color:#f00;}
.allsort h3 a:visited{display:block;height:37px;line-height:37px;color:#f00;}
.allsort h3 a:hover,.allsort h3 a:active{color:#1B578A;} */

.allsort s{display:block;position:absolute;top:10px;left:182px;width:13px;height:13px;background-position:-218px -106px;}
/* 鍒嗙被浜�*/
.allsort .item .i-mc{display:none;position:absolute;left:208px;top:0;width:700px;border:1px solid #ff7d13;background:#FFF9EF;overflow:hidden;}
.allsort .item dt{padding:3px 6px 0 0;font-weight:bold;}
.allsort .item dd{padding:3px 0 0;overflow:hidden;zoom:1;}
.allsort .subitem{float:left;width:464px;min-height:426px;padding:0 4px 0 8px; background:#FFF;}
.allsort .subitem dl{border-top:1px solid #FFEFD7;padding:6px 0;overflow:hidden;zoom:1;}
.allsort .subitem .fore{border-top:none;}
.allsort .subitem dt{float:left;width:54px;line-height:22px;text-align:right;color:#c00;}
.allsort .subitem dd{float:left;width:402px;}
.allsort .subitem dd a{color:#333;}
.allsort .subitem em{float:left;height:14px;margin:4px 0;line-height:14px;padding:0 8px;border-left:1px solid #ccc;font-style:normal;white-space:nowrap; color:#333;}
.allsort .fr{background:#fff;width:194px;padding:0 15px 2010px 15px;margin-bottom:-2000px;float:right;}
.allsort .fr dl{padding-bottom:0;}
.allsort .mc .extra{padding:7px 8px;background:#FDF1DE;border-top:1px solid #FDE6D2;}
.allsorthover{background-position:0 -50px;}
.allsorthover .mt .extra{background-position:-214px -75px;}
.allsorthover .mc{display:block;}
.allsort .hover span{z-index:13;width:208px;}
.allsort .hover h3{background:#fff url(../images/xiaojian.png) no-repeat 185px 12px; width:210px;}
.allsort .hover h3.h3mm{/*background:#fafafa url(../images/xiaojian.png) no-repeat 185px 12px;*/background:#fff url(../images/xiaojian.png) no-repeat 185px 12px; width:210px;}
.allsort .hover h3 a{}
.allsort .hover s{display:none;}
.allsort .hover .i-mc{display:block;z-index:12;}
*html .allsort .item dd{padding-bottom:6px;}
*html .allsort .subitem{height:400px;}
.allsort .close{position:absolute;top:6px;left:674px;z-index:14;width:19px;height:19px;background:url(../images/nav-sort.gif) no-repeat;background-position:-216px -125px;cursor:pointer;}
/* 鍒嗙被涓�*/
/**--d瀵艰埅鍒嗙被--**/

/**--banner婊氬姩--****/
/* slide */
/*.slide{width:775px;height:426px;overflow:hidden;position:relative;background-color:#000;z-index:4;}
.slide ul{height:426px;}
.slide ul li{width:775px;height:426px;float:left;}
.slide .bg{width:775px;height:34px;position:absolute;bottom:0;left:0;*//*background-color:#000;border-top:1px solid #fff;filter:alpha(opacity=30);opacity:.3;*//*z-index:5;}
.slide .num{overflow:hidden;zoom:1;position:absolute;right:45%;bottom:11px;z-index:10;}
.slide .num span{display:inline-block;width:12px;height:12px;background:url(../images/bg-slide.png) 0 -12px no-repeat;_background:url(../images/ie6/bg-slide.png) 0 -12px no-repeat;cursor:pointer;overflow:hidden;}
.slide .num span.on{background-position:0 0;}
.slide .skip{display:none;_display:block;width:23px;height:47px;background:url(../images/bg-slide.png) no-repeat;_background:url(../images/ie6/bg-slide.png) no-repeat;position:absolute;top:50%;margin-top:-24px;text-indent:-1000em;cursor:pointer;}
.slide .prev{background-position:0 -172px;left:10px;}
.slide .prev:hover{background-position:0 -219px;}
.slide .next{background-position:-23px -172px;right:10px;}
.slide .next:hover{background-position:-23px -219px;}
.slide:hover .prev,.slide:hover .next{display:block;}
.slide .num{bottom:11px;}*/

/* slide-box */
#slide-box{width:775px;position:relative;height:465px;}
#slide-box .corner{clear:both;border-top:#333 1px solid;display:block;overflow:hidden;height:0;margin:0 1px;}
#slide-box .slide-content{background:#333;}
#slide-box .JQ-slide-content{position:absolute;}
#slide-box .JQ-slide-nav a{display:block;z-index:99;width:37px;color:#b4b4b4;position:absolute;top:180px;height:65px;text-decoration:none;}
#slide-box .JQ-slide-nav span{display:block;background:#4b4b4b;font:700 53px arial;width:37px;cursor:pointer;height:63px;text-align:center;}
#slide-box .JQ-slide-nav .corner{border-color:#4b4b4b;}
#slide-box .JQ-slide-nav .prev{left:0px;}
#slide-box .JQ-slide-nav .next{right:0px;}
#slide-box .wrap{overflow:hidden;width:775px;height:465px;position:relative;}
#slide-box ul{width:10000px;}
#slide-box li{float:left;width:775px;height:465px;}
#slide-box li img{width:775px;height:465px;}
#slide-box .JQ-slide-nav a:hover,#slide-box .JQ-slide-nav a:hover span{color:#f43d1e;}


/* 棣栭〉婊氬姩鍥剧墖 */
#focus {width:775px; height:465px; overflow:hidden; position:relative; margin-bottom:10px;}
#focus ul {height:465px; position:absolute;}
#focus ul li {float:left; width:775px; height:465px; overflow:hidden; position:relative;}
#focus ul li div {position:absolute; overflow:hidden; left:0; top:0; width:775px; height:465px;}
#focus ul li div img{width:775px; height:465px;}
#focus .btnBg {position:absolute; width:775px; height:26px; left:0; bottom:0; background:none;filter:alpha(opacity=50);opacity: 0.5;}
#focus .btn {position:absolute; width:775px; height:10px; right:0; bottom:20px; text-align:center;}
#focus .btn span {display:inline-block; _display:inline; _zoom:1; color:#fff; width:10px; font-size:0; font-weight:bold; height:10px; _font-size:0; text-align:center; margin-left:8px; cursor:pointer; background:url(../images/02.png) no-repeat 0 0;}
#focus .btn span.on { background:url(../images/01.png) no-repeat 0 0; color:#996f23;}




/**--鍥剧墖鏂囧瓧--****/
/* box */
.box{width:998px;background:#fff;border-right:1px solid #d2d2d2;border-bottom:1px solid #d2d2d2;border-left:1px solid #d2d2d2; border-top:2px solid #d85223; overflow:hidden;}
.tab_menu{overflow:hidden;background:#ebebeb; }
.tab_menu li{float:left;height:35px;line-height:35px;color:#fff;text-align:center;cursor:pointer;}
.tab_menu li.ls{border-right:none;} 
.tab_menu li.ls a{border-right:none; padding:0 22px 0px 20px;}
.tab_menu li.current{color:#333;background:#fff;}
.tab_menu li a{color:#333;border-right:1px solid #d2d2d2;border-bottom:1px solid #d2d2d2;padding:0 21px; height:34px; font-size:16px; display:block; line-height:34px;}
.tab_menu li.current a{border-bottom:1px solid #fff; color:#d33700;}
.tab_box{ padding:15px 0px 10px 0px; overflow:hidden;}
.tab_box div{ overflow:hidden;}
/*.tab_box li{height:24px;line-height:24px;overflow:hidden;}
.tab_box li span{margin:0 5px 0 0;font-family:"瀹嬩綋";font-size:12px;font-weight:400;color:#ddd;}*/
.tab_box .hide{display:none;}
.showbox{height:145px;width:185px;position:relative;overflow:hidden;float:left;display:block;margin-left:12px; margin-bottom:12px;}
.showbox .subtitle{position:absolute;left:0;bottom:-150px;height:35px;line-height:35px;width:165px; padding:0 10px; text-align:center; background:#333;filter:alpha(opacity=60);opacity:0.6;color:#fff;}
.showbox .subtitle a{ color:#fff; display:block; text-decoration:none;font-size:15px;}
/*.showbox .subtitle h2{color:#fff; font-size:13px;}*/
.showboxA{height:145px;width:185px;position:relative;overflow:hidden;float:left;display:block;margin-right:10px; margin-bottom:12px;}
.showboxA .subtitleA{position:absolute;left:0;bottom:-150px;height:35px;line-height:35px;width:165px; padding:0 10px; text-align:center; background:#333;filter:alpha(opacity=60);opacity:0.6;color:#fff;}
.showboxA .subtitleA a{ color:#fff; display:block; text-decoration:none;font-size:15px;}
/*.showbox .subtitle h2{color:#fff; font-size:13px;}*/

/* tab */
.tab{background:#fff;border-top:1px solid #ebebeb;border-bottom:1px solid #ebebeb; overflow:hidden; }
.tab ul.menu{height:40px;background:#f6f6f6;position:relative;}
.tab ul.menu li{float:left;text-align:center;width:120px;height:40px;line-height:40px;list-style:none;font-size:16px;cursor:pointer; border-right:1px solid #e0dfdf;}
.tab ul.menu li.active{background:#fff;color:#d33700;}
.con1,.con2,.con3{border-top:1px solid #ebebeb; padding:15px;}
.con2,.con3{display:none;}
.con1 dl{ border-bottom:1px dotted #e4e4e4; padding:15px 15px 15px 0px; overflow:hidden;}
/*.con1 dl dt{ float:left; width:75%;} */
.con1 dl dt{ float:left; width:100px;}
.con1 dl dt a{  color: #004a8d;font-size: 16px; height:30px; line-height:30px; padding-bottom:5px; display:block;}
.con1 dl dt p em{ color:#f00; font-style:normal;}
/*.con1 dl dd{ float:right;} */
.line{height:2px;width:120px;background:red;position:absolute;bottom:-2px;}
.tab ul.menu .rep{ position:absolute; width:120px; padding-left:30px; border:1px solid #fc958f; height:28px; line-height:28px; background:url(../images/fabu.png) no-repeat 10px 8px #fff3f2; text-align:left; top:5px; right:10px;}
.tab ul.menu .rep a{color:#e71408; font-size:15px; }
.tab ul.menu .an_tj{ position:absolute;top:8px; right:10px;height:22px; border:1px solid #d7dbe1;line-height:22px; background:#f9f9f9; }
.tab ul.menu .an_tj a{ border-right:1px solid #d7dbe1;padding:0 15px; height:22px; line-height:22px; color:#333;}
.tab ul.menu .an_tj a:hover{ color:#ee5500;}
.tab ul.menu .an_tj a.nright{ border-right:none;}
.tab .question{ overflow:hidden;}
.tab .question .userti{ height:38px; border-bottom:1px dashed #ebebeb; line-height:38px; font-size:16px; background:#f8f8f8;}
.tab .question .userti dl dt{ float:left; color:#ee5500;} 
.tab .question .userti dl dt img{ vertical-align:middle; margin-right:5px; padding-left:10px; }
.tab .question .userti dl dd{ float:right; padding-right:30px;}
.tab .question .userti dl dd img{ margin-right:5px;}
.tab .question .userti dl dd a{ color:#000; font-size:16px;}
.tab .question ul{ padding:15px 0px;}
.tab .question ul li{ float:left; width:100%; padding-bottom:10px;* padding-bottom:10px; }
.tab .question ul li a{ height:24px; border:1px solid #f1f1f1; padding:0 5px; line-height:24px; color:#666; font-size:12px; margin:0px 2px 0px 3px; }
.tab .question ul li a:hover{color:#ee5500;}
/* 浜у搧璇︽儏 */
.p_box{background:#fff;border:1px solid #ebebeb; overflow:hidden; /*width:998px;*/}
.p_tab_menu{overflow:hidden;background:#f3f3f3; height:40px;border-bottom:1px solid #e0dfdf; /*position:fixed; top:0; width:998px; z-index:999;*/ }
.p_tab_menu li{float:left;height:40px;line-height:40px;color:#fff;text-align:center;cursor:pointer;border-right:1px solid #e0dfdf;}
.p_tab_menu li.current{color:#333;background:#fff;border-bottom:1px solid #fff;}
.p_tab_menu li.current a{border-bottom:1px solid #fff; color:#d33700;}
.p_tab_menu li a{color:#333;padding:0 30px;height:40px;display:block;line-height:40px;font-size:16px;}
.p_tab_box{ padding:15px; overflow:hidden; }
.p_tab_box div{ overflow:hidden;}
.p_tab_box .hide{display:none;}
.p_tab_box div .cpdex{ margin:0 auto; overflow:hidden;}
.p_tab_box div .cpdex table{ margin:20px 20px; width:940px;}
.p_tab_box div .cpdex table tr{ height:25px; line-height:25px;}
.p_tab_box div .cpdex h2{ background:url(../images/h.jpg) no-repeat left center; height:35px; line-height:34px; font-size:16px; font-weight:normal; text-indent:20px;}
.p_tab_box div .cpdex p{ line-height:22px; margin-bottom:20px;}
.p_tab_box div .cpdex p span{color:#d33700; font-weight:bold;}
.p_tab_box div .cpdp{ margin:0 auto; overflow:hidden; width:100%;}
.p_tab_box div .cpdp h2{ height:36px; line-height:36px; background:url(../images/action.jpg) no-repeat 15px 10px #fff8f2; font-size:12px; padding-left:40px; color:#666; margin-bottom:30px; position:relative;}
.p_tab_box div .cpdp h2 span{ color:#ff7200;}
.p_tab_box div .cpdp h2 .m_dp{ width:220px; height:26px; background:url(../images/more_d.png) no-repeat;  position:absolute; float:right; right:20px; top:5px; line-height:26px; padding-left:20px;}
.p_tab_box div .cpdp h2 .m_dp a{color:#ff7200;}

.user_dp{ position:relative;padding-left:80px;margin-top:25px;_zoom:1}
.user_dp .user_pic{position:absolute;left:0;top:0;width:65px;height:66px; overflow:hidden;}
.user_dp .user_pic img{display:block;width:100%;height:100%;/*-webkit-border-radius:30px;border-radius:30px*/}
.user_dp .user_n{ font-size:16px;}
.user_dp .user_n:hover,.user_dp .udescrible .dpresp:hover{ color:#d33700;}
.user_dp a{ color:#000;}
.user_dp .udescrible{ border-bottom:1px solid #e0e0e0; padding:10px 0px 10px 0px;}
.user_dp .udescrible p{ line-height:22px;}
.user_dp .udescrible .chxin{}
.user_dp .udescrible .chxin span{color:#ff7200; font-size:15px;}
.user_dp .udescrible .dpdes{font-size: 14px; margin-bottom:20px;}
.user_dp .udescrible .dpdate{ color:#999; font-size:13px;}
.user_dp .udescrible .dpresp{ float:right; position:absolute; right:50px; color:#666;}

.tab .canp{ margin:0 auto; overflow:hidden; width:100%;}
.canp_list{ position:relative;padding-left:155px;_zoom:1;border-bottom:1px solid #e0e0e0; overflow:hidden; padding-top:25px; padding-bottom:25px;	}
.canp_list .u_pic{position:absolute;left:0;top:20px;width:140px;height:110px; overflow:hidden;}
.canp_list .u_pic img{display:block;width:100%;height:100%;/*-webkit-border-radius:30px;border-radius:30px*/}
.canp_list .u_n{ font-size:16px;color:#004a8d; }
.canp_list .u_n:hover,.canp_list .cpcrible .dpresp:hover{ color:#d33700;}
.canp_list a{ color:#000;}
.canp_list .cpcrible{ padding:5px 0px 0px 0px; overflow:hidden; }
.canp_list .cpcrible p{ line-height:24px;}
.canp_list .cpcrible p span{ color:#ee2222; font-weight:bold; font-size:14px; }
.canp_list .cpcrible p em{ color:#f00; font-style:normal;}
.canp_list .cpcrible .cpl{ width:440px; float:left;}
.canp_list .cpcrible .cpl a{ color:#004a8d;padding-left:30px;}
.canp_list .cpcrible .cpl a:hover{ text-decoration:underline; }
.canp_list .cpcrible .cpr{ width:120px; float:right;}

.tou_piao{overflow:hidden;padding-bottom:25px;}
.tou_n{ height:30px; position:relative;}
.tou_n .coms{ font-size:16px;color:#004a8d; line-height:30px;}
.tou_n .top_date{ position:absolute; right:0px; top:7px; color:#999999;}
.tou_n .top_date b{ font-weight:normal; padding:0 10px;}
.tou_n .top_date .good{ background:url(../images/icons_01.png) no-repeat 0px 2px;color:#004a8d; padding-left:20px; margin-left:15px;}
.tou_n .top_date .good:hover{background:url(../images/icons_02.png) no-repeat 0px 2px; color:#379be9; }
.tou_piao .tp_jj p{ padding:5px 0px; line-height:20px;}
.tou_piao .my_des{ border:1px solid #eeeeee; height:28px; position:relative; margin-top:5px;}
.tou_piao .my_des .pl{width:650px; height:25px; border:none; min-height:25px; font-size:12px; line-height:18px; padding:3px 5px 0px 5px; background:none;color:#666;font-family:"寰蒋闆呴粦"; }
.tou_piao .my_des .pl_tj{ width:73px; height:28px; position:absolute; right:0px; top:0px; line-height:28px; background:none; text-align:center; color:#ff7a21; cursor:pointer; font-size:13px; border-left:1px solid #eeeeee; margin:0px;}

.gongnen_caigou{ position:relative;_zoom:1;border-bottom:1px solid #e0e0e0; overflow:hidden; padding-top:15px; padding-bottom:15px;	}
.gongnen_caigou .caigou_n{ width:520px;}
.gongnen_caigou .caigou_n p{ line-height:22px;}
.gongnen_caigou .caigou_n a{ color:#004a8d; font-size:15px;}
.gongnen_caigou .caigou_n a:hover{ text-decoration:underline;}
.gongnen_caigou .cpcrible{ overflow:hidden; padding-top:20px; }
.gongnen_caigou .cpcrible p{ line-height:22px;}
.gongnen_caigou .cpcrible p span{ color:#ee2222; font-weight:bold; font-size:14px;}
.gongnen_caigou .cpcrible .cpr{ width:150px; float:right;}


.p_tab_box div .sale{ margin:0 auto; overflow:hidden; padding-bottom:100px;}
.p_tab_box div .sale .dpsale{ width:760px; margin:0 auto; padding-top:30px; }
.p_tab_box div .sale .dpsale h1{ height:36px; line-height:36px;font-weight:normal; font-size:18px; color:#004a8d; padding-left:50px; }
.p_tab_box div .sale .dpsale table{  border-top:1px dotted #d1d1d1; margin:10px 0px; width:100%; padding:15px 0px 30px 0px; }
.p_tab_box div .sale .dpsale table tr td{ min-height:40px; line-height:40px; padding-left:3px; font-size:14px; padding-left:10px; padding-top:7px; padding-bottom:7px;}
.p_tab_box div .sale .dpsale table  tr td span{ color:#ff6600;}
.p_tab_box div .sale .dpsale table tr td strong{ color:#b5b5b5; height:18px; line-height:18px; font-weight:normal; font-size:12px;}
.p_tab_box div .sale .dpsale .s_in01{ border:1px solid #dbdbdb; height:30px; line-height:30px; width:140px; padding-left:5px;font-size:12px;}
.p_tab_box div .sale .dpsale .s_in02{ border:1px solid #dbdbdb; height:30px; line-height:30px; width:580px; padding-left:5px; min-height:200px;font-size:12px;}
.p_tab_box div .sale .dpsale .s_in03{ background:url(../images/tijiao.jpg) no-repeat; width:156px; height:49px; text-align:center; font-size:20px; color:#fff; font-weight:bold; cursor:pointer;}
.p_tab_box div .sale .right_tab{ width:300px;}
.p_tab_box div .sale .right_tab h2{ font-size:18px; height:40px; line-height:40px; margin-bottom:15px;}
.p_tab_box div .sale .left_tab{ width:800px;}
.p_tab_box div .sale .left_tab table{ margin:10px auto;}
.p_tab_box div .sale .left_tab table tr td{ min-height:35px; line-height:35px; padding-left:2px; font-size:14px; padding-left:5px; padding-top:7px; padding-bottom:7px;}
.p_tab_box div .sale .left_tab table tr td span{ color:#ff6600;}
.p_tab_box div .sale .left_tab table tr td strong{ color:#888; height:18px; line-height:18px; font-weight:normal; font-size:12px; font-family:"瀹嬩綋"}
.p_tab_box div .sale .left_tab .s_in01{ border:1px solid #dbdbdb; height:30px; line-height:30px; width:340px; padding-left:5px;font-size:12px;}
.p_tab_box div .sale .left_tab .s_in02{ border:1px solid #dbdbdb; height:30px; line-height:30px; width:140px; padding-left:5px;font-size:12px;}
.p_tab_box div .sale .left_tab .s_in03{ border:1px solid #dbdbdb; height:30px; line-height:30px; width:360px; padding-left:5px; min-height:90px;font-size:12px;}
.p_tab_box div .sale .left_tab .s_in04{ background:url(../images/tijiao.jpg) no-repeat; width:156px; height:49px; text-align:center; font-size:20px; color:#fff; font-weight:bold; cursor:pointer;}
.p_tab_box div .sale .left_tab .s_in05{ border:1px solid #dbdbdb; height:30px; line-height:30px; width:140px; padding-left:5px;font-size:12px;}
.p_tab_box div .sale .left_tab .s_in06{ border:1px solid #dbdbdb; height:20px; line-height:20px; width:100px; padding-left:5px;font-size:12px;}
.p_tab_box div .sale .left_tab .erji{ width:140px; height:20px; margin-right:5px; line-height:20px;}

/*鍥㈤槦鏋舵瀯*/
.gltd{ padding:0 7px; overflow:hidden;}
.gltd ul{ margin-bottom:40px;  overflow:hidden;}
.gltd ul li{ height:90px; background:none;overflow:hidden; position:relative;cursor:pointer; border-bottom:1px dotted #bdbdbd; padding-top:25px; padding-bottom:25px; }
.gltd ul li .gltd_l{ float:left; padding-bottom:30px; width:75px; text-align:center; overflow:hidden;}
.gltd ul li .gltd_l img{ max-width:73px;}
.gltd ul li .gltd_r{ float:left;margin-left:10px; width:750px; font-size:16px; color:#3c3c3c; overflow:hidden;}
.gltd ul li .gltd_r th{ padding-bottom:20px; line-height:24px; font-size:16px; color:#3c3c3c; text-align:left; font-weight:normal; padding-top:15px;}
.gltd ul li .gltd_r td{ line-height:22px; color:#4d4d4d;}
.gltd ul li .gltd_r dl{ margin-bottom:0px; font-size:12px; line-height:20px; color:#757575;}
.gltd ul li .gltd_r dd{ text-indent:24px; background:url(../images/gltd_d.jpg) 0 8px no-repeat;}
.gltd ul li .gltd_r p{ line-height:22px; padding:6px 0px;}
.gltd ul li span{ width:45px; height:45px; background:url(../images/gltd_con.jpg) 0px bottom no-repeat; display:block;  position:absolute; right:15px; top:30px;}
.gltd ul li span.on{ background-position:top;}

/* 鎻愮ず鍏徃淇℃伅 */
.pic2{ height:22px; width:100%; line-height:22px; margin-top:5px;}
/* popup */
.bubbleInfo{position:relative;margin:0 auto; background:url(../images/bt4.png) no-repeat center;  }

.bubbleInfo div{}
.bubbleInfo div a{color:#d33700; font-size:15px; font-weight:normal;}
.popup{position:absolute;display:none;z-index:10000; background:url(../images/kuang.png) no-repeat #fff; width:162px; height:122px; padding:15px 15px 0 15px; }
.popup ul li{ float:left;width:100%;font-size:13px; line-height:24px; height:24px;}
/*.popup ul li a{ color:#000; line-height:24px; font-size:12px; padding:0px; text-indent:0px; display:block; float:left; width:100%;}
.popup ul li a:hover{ text-decoration:underline;}*/
.popup p{ font-size:12px; line-height:24px;}
.popup ul li b{ color:#1e50a2; display:inline; padding-right:0px; font-weight:normal;}





/* 鏃犺竟鐨凚ox */
.c1{background:#fff;border-bottom:1px solid #ebebeb;border-top:1px solid #ebebeb;margin:40px auto; clear:both; overflow:hidden }
.notlight {background:none;}
.notlight .tbox{ border-bottom:0px solid #f000;}
.notlight dt{position:relative;height:35px;line-height:35px;clear:both;border:none;border-bottom:1px solid #000;background:none;}
.ibox3 .notlight dt{border-bottom:1px solid #000;}
.ibox3 .dt.notlight strong{_position:relative;_top:2px;height:35px;line-height:35px; !important;line-height:36px;font-size:14px;}
.ibox1 dt.notlight strong{background-position: 0 6px;}
.ibox3 dt.notlight strong{ background:url(../images/kal.png) no-repeat left top; text-indent:35px; font-weight:normal; color:#fff;}
.notlight dd{/*padding:4px 4px 0px;*/overflow:hidden;}
.bigtitle .notlight dt{height:31px;line-height:31px;}
.bigtitle dt.notlight strong{_position:relative;_top:2px;width:300px;height:33px;line-height:33px; !important;line-height:32px;background-image: url("../images/c5.png");}
.prot dt.notlight strong{background-position: 0 -114px;}
.pret dt.notlight strong{background-position: 0 -149px;}
.arct dt.notlight strong{background-position: 0 -184px;}
.bbst dt.notlight strong{background-position: 0 -219px;}
.flkt dt.notlight strong{background-position: 0 -254px;} 
.ibox4 .notlight dt{border-bottom:2px solid #D8D8D8;}
.ibox4 .notlight dt strong{background:none;padding-left:5px;border-bottom:2px solid #ea8600;}



/* 杞惊骞垮憡 */
.stepselect{display:block; font-size:12px;}
.preferlist .stepselect .stepselects,.productlist .stepselect .stepselects,.applylist .stepselect .stepselects{height:34px;}
.stepselect .stepselects{width:100%;clear:both;border-bottom:#e7e7e7 solid 1px;overflow:hidden;}
.stepselect .stepselects_none{border-bottom:none}

.stepselect .stepselects .itemname{width:100px;float:left;/* height:40px;line-height:40px;  padding:30px 0px; background:#f1f1f1;*/text-align:center; }
.stepselect .stepselects .itemname strong{height:20px;line-height:20px;border:none; font-weight:bold;color:#333;overflow:hidden;}
.stepselect .stepselects .itemname02{width:80px;padding-top:5px;padding-bottom:5px;float:left; margin-top:7px;}
.stepselect .stepselects .itemname02 strong{display:block;width:60px;height:20px;line-height:20px;padding-left:7px;background:url(../images/c1.gif) 0 -225px no-repeat;border:none;font-weight:normal;color:#fff;overflow:hidden;}
.stepselect .stepselects .egroup{width:666px;padding-top:5px;padding-bottom:5px;float:left;position:relative; padding:10px 0px; border-left:1px dotted #f0f0f0;}


.f5{/*鍒烽�(浜у搧鍙婁紭鎯犳椿鍔�涓撶敤*/width:100%;overflow:hidden;clear:both;/* position:relative;*/}
.f5 li{width:60px;height:20px;line-height:20px;margin-bottom:10px;padding:0px 5px 0px 0px;float:left;text-align:center;white-space:nowrap; display:block; float:left;}
.f5 li a{ font-size:12px; color:#333;}
.f5 li a,.f5 li b{display:block;padding:0px 5px 0px 5px;color:#333;}
.f5 li b,.f5 li a:hover{color:#fff;background-color:#84bf53;text-decoration:none;font-weight:normal;}

.stepselect .stepselects .egroup .btn-9{width:47px;height:18px;line-height:18px; right:10px;border:none;background:url(../images/c1.gif) 0 -311px no-repeat;cursor:pointer;overflow:hidden; position:absolute; top:10%;}

.cp_list{ overflow:hidden;clear:both; padding-left:20px; }
.cp_list li{ width:180px; float:left; margin-right:20px; height:20px; padding:2px 0px;}  
.cp_list li a{ background:url(../images/cpbg.jpg) no-repeat left center; color:#666; height:20px; line-height:20px; padding:0px 0px 0px 15px; font-family:"瀹嬩綋"}
.cp_list li a:hover{ color:#d33700;}


.cp_ltnb{ overflow:hidden;clear:both; padding-left:20px; }
.cp_ltnb li{ width:180px; float:left; margin-right:20px; height:20px; padding:2px 0px;}  
.cp_ltnb li a{color:#666; height:20px; line-height:20px; padding:0px 0px 0px 0px; font-family:"瀹嬩綋"}
.cp_ltnb li a:hover{ color:#d33700;}











